
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #385777; 
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.nav-container h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 2px;
}


@media (max-width: 600px) {
    .nav-container h1 {
        font-size: 2em; 
    }
}


.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin-right: 10px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}


#message-1 {

    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}


#message-2 div {

    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


#message-2 h3 {
    margin-top: 0;
}

#message-2 p {
    font-size: 0.9em;
    line-height: 1.6;
}


#message-2 img {
    border-radius: 5px;
    margin-top: 10px;
}
